* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('/img/bg.jpg') no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  font-family: 'Dosis', sans-serif;
}

.container {
  max-width: 900px;
  padding-top: 50px;
  height: 50vh;
  margin: 100px auto;
  text-align: center;
  color: #fff;
  background: rgba(0, 151, 148, 0.101);
  border-radius: 4px;
}

#city,
#btn {
  display: block;
  margin: 10px auto;
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  border: none;
  width: 20%;
  text-align: center;
  font-size: 1rem;
}
#btn {
  cursor: pointer;
  background-color: #018129;
  color: #ffffff;
  text-transform: uppercase;
}

#btn:hover {
  transition: all 0.4s;
  background-color: #e23b25;
  opacity: 0.8;
}
